<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- Discover only this application's NSIS registration, in either installation scope. -->
    <Property Id="P2_NSIS_USER_NAME" Secure="yes"><RegistrySearch Id="NsisUserName" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Name="DisplayName" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_USER_PUBLISHER" Secure="yes"><RegistrySearch Id="NsisUserPublisher" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Name="Publisher" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_USER_BINARY" Secure="yes"><RegistrySearch Id="NsisUserBinary" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Name="MainBinaryName" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_USER_DIR" Secure="yes"><RegistrySearch Id="NsisUserDirectory" Root="HKCU" Key="Software\p2sharer\P2Sharer" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_MACHINE_NAME" Secure="yes"><RegistrySearch Id="NsisMachineName" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Name="DisplayName" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_MACHINE_PUBLISHER" Secure="yes"><RegistrySearch Id="NsisMachinePublisher" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Name="Publisher" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_MACHINE_BINARY" Secure="yes"><RegistrySearch Id="NsisMachineBinary" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Name="MainBinaryName" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_MACHINE_DIR" Secure="yes"><RegistrySearch Id="NsisMachineDirectory" Root="HKLM" Key="Software\p2sharer\P2Sharer" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_USER_DESKTOP" Secure="yes"><RegistrySearch Id="NsisUserDesktop" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders" Name="Desktop" Type="raw" Win64="yes" /></Property>
    <Property Id="P2_NSIS_USER_PROGRAMS" Secure="yes"><RegistrySearch Id="NsisUserPrograms" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Shell Folders" Name="Programs" Type="raw" Win64="yes" /></Property>

    <!-- Keep an existing MSI location first; otherwise adopt the NSIS location. -->
    <SetProperty Id="INSTALLDIR" Action="SetNsisMachineInstallDir" Value="[P2_NSIS_MACHINE_DIR]" Before="CostInitialize" Sequence="both">
      NOT Installed AND NOT WIX_UPGRADE_DETECTED AND P2_NSIS_MACHINE_NAME = "P2Sharer" AND P2_NSIS_MACHINE_PUBLISHER = "p2sharer" AND P2_NSIS_MACHINE_BINARY = "p2sharer.exe" AND P2_NSIS_MACHINE_DIR AND NOT (P2_NSIS_USER_NAME = "P2Sharer" AND P2_NSIS_USER_PUBLISHER = "p2sharer" AND P2_NSIS_USER_BINARY = "p2sharer.exe" AND P2_NSIS_USER_DIR)
    </SetProperty>
    <SetProperty Id="INSTALLDIR" Action="SetNsisUserInstallDir" Value="[P2_NSIS_USER_DIR]" Before="CostInitialize" Sequence="both">
      NOT Installed AND NOT WIX_UPGRADE_DETECTED AND P2_NSIS_USER_NAME = "P2Sharer" AND P2_NSIS_USER_PUBLISHER = "p2sharer" AND P2_NSIS_USER_BINARY = "p2sharer.exe" AND P2_NSIS_USER_DIR
    </SetProperty>

    <DirectoryRef Id="INSTALLDIR">
      <!-- Standard MSI actions replace only files and shortcuts owned by the NSIS package.
           No external uninstaller is executed and application profiles are untouched. -->
      <Component Id="MigrateNsisUser" Guid="ce063329-641f-4de9-b862-c3f1db510ada" Win64="yes">
        <Condition>P2_NSIS_USER_NAME = "P2Sharer" AND P2_NSIS_USER_PUBLISHER = "p2sharer" AND P2_NSIS_USER_BINARY = "p2sharer.exe" AND P2_NSIS_USER_DIR</Condition>
        <RemoveFile Id="RemoveNsisUserBinary" Name="p2sharer.exe" Property="P2_NSIS_USER_DIR" On="install" />
        <RemoveFile Id="RemoveNsisUserUninstaller" Name="uninstall.exe" Property="P2_NSIS_USER_DIR" On="install" />
        <RemoveFile Id="RemoveNsisUserDesktopShortcut" Name="P2Sharer.lnk" Property="P2_NSIS_USER_DESKTOP" On="install" />
        <RemoveFile Id="RemoveNsisUserStartShortcut" Name="P2Sharer.lnk" Property="P2_NSIS_USER_PROGRAMS" On="install" />
        <RemoveRegistryKey Id="RemoveNsisUserRegistration" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Action="removeOnInstall" />
        <RegistryValue Root="HKCU" Key="Software\p2sharer\P2Sharer" Name="MigratedFromNsis" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="MigrateNsisMachine" Guid="d494b6cd-48f1-42da-9d85-178d78c1cb6e" Win64="yes">
        <Condition>P2_NSIS_MACHINE_NAME = "P2Sharer" AND P2_NSIS_MACHINE_PUBLISHER = "p2sharer" AND P2_NSIS_MACHINE_BINARY = "p2sharer.exe" AND P2_NSIS_MACHINE_DIR</Condition>
        <RemoveFile Id="RemoveNsisMachineBinary" Name="p2sharer.exe" Property="P2_NSIS_MACHINE_DIR" On="install" />
        <RemoveFile Id="RemoveNsisMachineUninstaller" Name="uninstall.exe" Property="P2_NSIS_MACHINE_DIR" On="install" />
        <RemoveFile Id="RemoveNsisMachineDesktopShortcut" Name="P2Sharer.lnk" Directory="DesktopFolder" On="install" />
        <RemoveFile Id="RemoveNsisMachineStartShortcut" Name="P2Sharer.lnk" Directory="ProgramMenuFolder" On="install" />
        <RemoveRegistryKey Id="RemoveNsisMachineRegistration" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\P2Sharer" Action="removeOnInstall" />
        <RegistryValue Root="HKLM" Key="Software\p2sharer\P2Sharer" Name="MigratedFromNsis" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
